.cards {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.card {
  flex: 1;

  &__title {
    padding: 10px;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 24px;

    &_indented {
      padding-left: 1.5em;
    }
  }
}
