.text-link {
  &,
  &:link,
  &:visited {
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px dashed $link-color;
  }

  &:active,
  &:hover {
    border-bottom-color: transparent;
  }

  &:active {
    color: $link-hover-color;
  }
}
