.about-me {
  margin-top: 30px;
}

.about-me h2 {
  margin-bottom: 10px;
  font-size: 1.75em;
}

.about-me p {
  font-size: 1.25em;
  text-indent: 1em;
  line-height: 150%;
}

.about-me li {
  font-size: 1.25em;
  line-height: 175%;
}
