.common-content {
  margin-top: 30px;

  h2 {
    margin-bottom: 10px;
    font-size: 1.75em;
  }

  p {
    font-size: 1.25em;
    text-indent: 1em;
    line-height: 150%;
  }

  li {
    font-size: 1.25em;
    line-height: 175%;
  }
}
