.header {
  display: flex;
  align-items: center;

  &__menu {
    padding-left: 20px;
  }

  &__site-headline {
    margin: 0;
    font-size: 32px;
  }

  &__avatar {
    @include no-selectable;
    @include no-draggable;

    $size: 76px;
    width: $size;
    height: $size;
  }
}
