.main-menu ul {
  margin: 0;
  padding: 0;
}

.main-menu li {
  display: inline-block;
  line-height: 175%;
  padding-right: 24px;

  &:last-of-type {
    padding-right: 0;
  }

  @media (max-width: $breakpoint-small) {
    display: block;
    line-height: 225%;
  }
}
