.block {
    padding-bottom: 30px;

    &__header {
        padding: 0;
        margin: 0;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        letter-spacing: 0.08em;
    }

    &__content {
        line-height: 1.35em;
    }
}
