.header {
    &__name {
        font-size: 2em;

        @media (max-width: $breakpoint-small) {
            font-size: 1.5em;
        }
    }

    &__position {
        font-size: 1.7em;

        @media (max-width: $breakpoint-small) {
            font-size: 1.25em;
        }
    }

    &__contacts {
        margin: 1em 0;
        padding: 0;
        list-style: none;
    }

    &__contacts li {
        &:not(:last-of-type) {
            margin-bottom: 0.5em;
        }
    }

    &__link {
        color: $link-color;
        text-decoration: none;

        &:hover,
        &:active {
            color: $link-hover-color;
        }
    }

    &__location {
        font-style: italic;
    }
}
