.list-item {
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    &_title {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
    }

    &_link {
        color: $link-color;
        text-decoration: none;

        &:hover,
        &:active {
            color: $link-hover-color;
        }
    }

    &_additional {
        font-style: italic;
    }

    &_has-top-margin {
        margin-top: 1em;
    }
}